<div class="container" id="activities">
    <h1>Activities</h1>
    <br>

    <div class="row">
        <div class="card">
            <img class="card-img-top" src="/assets/images/qt4.jpg" alt="Card image cap">
            <div class="card-body">
                <h4 class="card-title">Actividad</h4>
                <p class="card-text">biografia</p>
                <p><small>Rating 9/ 10</small></p>
                <button type="button"  class="btn btn-outline-primary btn-block"> Ver mas</button>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="/assets/images/qt4.jpg" alt="Card image cap">
            <div class="card-body">
                <h4 class="card-title">Actividad</h4>
                <p class="card-text">biografia</p>
                <p><small>Rating 9/ 10</small></p>
                <button type="button"  class="btn btn-outline-primary btn-block"> Ver mas</button>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="/assets/images/qt4.jpg" alt="Card image cap">
            <div class="card-body">
                <h4 class="card-title">Actividad</h4>
                <p class="card-text">biografia</p>
                <p><small>Rating 9/ 10</small></p>
                <button type="button"  class="btn btn-outline-primary btn-block"> Ver mas</button>
            </div>
        </div>


    </div>

</div>
